<a href="https://colab.research.google.com/github/UkroSchwein/RiffRider/blob/master/python_dz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**2 Задание**

In [ ]:
import math
def main(z):
  if z < 166:
    return 94 * (56 * z ** 3 - 1 - z ** 2) ** 3 + 39 * math.sin(z) ** 5 + 33 * (80 * z ** 3 -78 * z ** 2 -39) ** 6
  elif z >= 198:
    return 42 * z ** 6
  else:
    return  abs(97 + z ** 2 / 22) ** 7 - (z + z ** 3) ** 5 - 24* (z ** 3 - 1)

**3 Задание**

In [ ]:
import math
def main(b, x, n, m, a, y):
  res = 0
  for c in range (1, b+1):
    res += abs(69 * x + 32 * x ** 3 + 85 * c ** 2) ** 5 + 99 * math.sin(c) ** 4
  right = 0
  for k in range (1, a + 1):
     for j in range (1, m + 1):
        for c in range (1, n + 1):
          right += (math.sqrt(6 * j ** 3 + 19 * k ** 2 +  60 * c)) ** 5 - y ** 6
  return res - right

3.007695419033298e+17

**4 Задание**

In [ ]:
import math
def f(n):
  if n == 0:
    return -0.39
  return f(n-1) - (f(n-1) ** 2)/ 75 - 19
print(f(7))

-1222527.3423360218

**5 Задание**

In [ ]:
import math
def main(z):
  x = z
  x.insert(0, 0)
  n = len(z)
  sum = 0
  for i in range (1, n + 1):
    sum += 94 * (x[n-1-i] ** 3 + 96 * x[n - 1 -i] ** 2 + 1) ** 3
  return sum

**9 Задание**

In [ ]:
def main(input_table):
  table = [row for row in input_table if any(row)]
  table_transposed = list(map(list, zip(*table)))
  for i in range(len(table_transposed[0])):
    table_transposed[0][i] += "00"
  for i in range(len(table_transposed[1])):
    last_name, initials = table_transposed[1][i].split()
    initials = initials[0]
    table_transposed[1][i] = f"{initials}. {last_name}"
  for i in range(len(table_transposed[2])):
    day, month, year = table_transposed[2][i].split('/')
    table_transposed[2][i] = f"{year}-{month}-{day}"
  return table_transposed


input_table = [['0.2', 'Даритин И.Д.', '04/02/03'], ['0.1', 'Мудичян Г.Б.', '02/12/26'], [None, None, None], ['0.4', 'Цегизак Ф.Ф.', '04/04/13'], [None, None, None], ['0.3', 'Федекян Р.Р.', '02/06/02']]
print(main(input_table))

[['0.200', '0.100', '0.400', '0.300'], ['И. Даритин', 'Г. Мудичян', 'Ф. Цегизак', 'Р. Федекян'], ['03-02-04', '26-12-02', '13-04-04', '02-06-02']]

10 Задание

In [ ]:
class MealyError(Exception):
    pass

class Machine:
    def __init__(self):
        self.state = 'A'
    def fetch(self):
        if self.state == 'A':
            self.state = 'B'
            return 0
        elif self.state == 'C':
            self.state = 'D'
            return 2
        elif self.state == 'D':
            self.state = 'E'
            return 4
        elif self.state == 'E':
            self.state = 'A'
            return 7
        else:
            raise MealyError('lower')
    def lower(self):
        if self.state == 'B':
            self.state = 'C'
            return 1
        elif self.state == 'C':
            self.state = 'A'
            return 3
        elif self.state == 'D':
            self.state = 'A'
            return 5
        elif self.state == 'E':
            self.state = 'F'
            return 6
        elif self.state == 'F':
            self.state = 'A'
            return 8
        else:
            raise MealyError('fetch')

def test():
    obj = main()
    assert obj.state == 'A'
    assert obj.fetch() == 0
    assert obj.lower() == 1
    assert obj.lower() == 3
    assert obj.fetch() == 0
    assert obj.lower() == 1
    assert obj.fetch() == 2
    assert obj.lower() == 5
    assert obj.fetch() == 0
    assert obj.lower() == 1
    assert obj.fetch() == 2
    assert obj.fetch() == 4
    assert obj.fetch() == 7
    try:
        obj.lower()
        assert False
    except Exception as e:
        assert type(e) == MealyError
    assert obj.fetch() == 0
    try:
        obj.fetch()
        assert False
    except Exception as e:
        assert type(e) == MealyError
    assert obj.lower() == 1
    assert obj.fetch() == 2
    assert obj.fetch() == 4
    assert obj.lower() == 6
    try:
        obj.fetch()
        assert False
    except Exception as e:
        assert type(e) == MealyError
    assert obj.lower() == 8
    

def main():
    return Machine()

test()

In [ ]:
class MealyError(Exception):
    pass

class Machine:
    def __init__(self):
        self.state = 'A'
    def fetch(self):
        if self.state == 'A':
            self.state = 'B'
            return 0
        elif self.state == 'C':
            self.state = 'D'
            return 2
        elif self.state == 'D':
            self.state = 'E'
            return 4
        elif self.state == 'E':
            self.state = 'A'
            return 7
        else:
            raise MealyError('fetch')
    def lower(self):
        if self.state == 'B':
            self.state = 'C'
            return 1
        elif self.state == 'C':
            self.state = 'A'
            return 3
        elif self.state == 'D':
            self.state = 'A'
            return 5
        elif self.state == 'E':
            self.state = 'F'
            return 6
        elif self.state == 'F':
            self.state = 'A'
            return 8
        else:
            raise MealyError('lower')

def test():
    obj = main()
    assert obj.state == 'A'
    assert obj.fetch() == 0
    assert obj.lower() == 1
    assert obj.fetch() == 2
    assert obj.fetch() == 4
    assert obj.lower() == 6
    assert obj.lower() == 8
    assert obj.fetch() == 0
    assert obj.lower() == 1
    assert obj.fetch() == 2
    assert obj.fetch() == 4
    assert obj.fetch() == 7
    assert obj.fetch() == 0
    assert obj.lower() == 1
    assert obj.fetch() == 2
    assert obj.lower() == 5
    assert obj.fetch() == 0
    assert obj.lower() == 1
    assert obj.lower() == 3
    obj1 = main()
    try:
        obj.lower()
    except Exception as e:
        assert type(e) == MealyError
    obj2 = main()
    try:
      obj2.fetch()
      obj2.fetch()
    except Exception as e:
        assert type(e) == MealyError
    

def main():
    return Machine()

test()

**11 Задание**

In [ ]:
import struct
 
 
import struct

def main(data):
    # Проверяем сигнатуру
    signature = b'\x56\x57\x42\x84'
    if not data.startswith(signature):
        return None
    signature_size = len(signature)
    result = {}
    # Форматы для разбора данных
    b_fmt = '>dId'
    c_fmt = '>h i h i H b h I I h ffff f'
    e_fmt = '>qh'
    
    # Разбираем структуру B
    b_size = struct.calcsize(b_fmt)
    b_data = struct.unpack_from(b_fmt, data, signature_size)
    b = {
        'B1': b_data[0],
        'B2': b_data[1],
        'B3': b_data[2]
    }
    result['A1'] = b
    
    # Разбираем массив char, размер 8
    char_data = struct.unpack_from('>8s', data, signature_size + b_size)
    a2 = char_data[0].decode('ascii')
    result['A2'] = a2
    
    # Разбираем uint64
    a3_data = struct.unpack_from('>Q', data, signature_size + b_size + len(a2))
    a3 = a3_data[0]
    result['A3'] = a3
    
    # Разбираем массив структур C, размер 2
    c_data = []
    c_offset = signature_size + b_size + len(a2) + 8
    for i in range(2):
        c_size_data = struct.unpack_from(c_fmt, data, c_offset)
        d = {
            'D1': c_size_data[1],
            'D2': c_size_data[2],
            'D3': c_size_data[3],
            'D4': c_size_data[4]
             }
        array = []
        array_size = c_size_data[7]
        array_offset = c_size_data[8]
        for j in range(array_size):
            if array_offset + struct.calcsize('>h') > len(data):
                break
            _value = struct.unpack_from('>h', data, array_offset)
            array.extend(_value)
            array_offset += struct.calcsize('>h')
        e_size_data = struct.unpack_from(e_fmt, data, c_size_data[9])  
        e = {
            'E1' : e_size_data[0],
            'E2' : e_size_data[1]
        }
        c = {
            'C1': c_size_data[0],
            'C2': d,
            'C3': c_size_data[5],
            'C4': c_size_data[6],
            'C5': array,
            'C6': e,
            'C7': [c_size_data[10], c_size_data[11],
                   c_size_data[12], c_size_data[13]],
            'C8': c_size_data[14]
        }
        c_data.append(c)
        c_offset += struct.calcsize(c_fmt)
    result['A4'] = c_data
    a_size_data = struct.unpack_from('>IBBf', data, c_offset)
    result['A5'] =  a_size_data[0]
    result['A6'] =  a_size_data[1]
    result['A7'] =  a_size_data[2]
    result['A8'] =  a_size_data[3]
    return result
print(main((b'VWB\x84?\xe4\x83\xe8\xb4\x1f\xf3\nT!m\xc2?\xc3k\x8d \xfe\x90\x18ojhgezol'
 b'd\xf8\xa0m~\xd1\x90Ot\xa8\xbdc2#\x9fL\x96\xd1\x8a\xa9Ii/\xee\xb4\x00\x00\x00'
 b'\x04\x00\x00\x00\x90\x00\x98\xbf@r8?*n\x04>&\xeb\xcd?,\x89\xa7\xbc'
 b'\xfc\xad\xb2\xa9\xf6\x82V\x04\x05\xb8(\x85n\xb1\x80\x06v\xdb\xb2@'
 b'\x00\x00\x00\x03\x00\x00\x00\xa2\x00\xa8?mHO\xbf`OM?Dq\xc0? \xff\xa1\xbe\x80'
 b'\x98\xa6WH\xa8\xb2\xbb\xa8\xbe\xd5\xb2&\x9b\xf0\x8a\x89\xe4\x8c\xd3\xd4'
 b'\xa4\x0c\x82\x80?\x9c\x03\x98\xdeF\xe0\x1b\xbc\x08\r\xa8\xa6\xd0\xfbS'
 b'\x0b\xe2jtxU')))

{'A1': {'B1': 0.6411021726667923, 'B2': 1411476930, 'B3': 0.15171970473341}, 'A2': 'ojhgezol', 'A3': 7275741590156578895, 'A4': [{'C1': 29864, 'C2': {'D1': -1117572573, 'D2': -24756, 'D3': -1764652375, 'D4': 18793}, 'C3': 47, 'C4': -4428, 'C5': [-25616, -30071, -7028, -11308], 'C6': {'E1': -6625777464434228328, 'E2': -8634}, 'C7': [-0.7517428398132324, 0.6657412052154541, 0.1630088835954666, 0.67397540807724], 'C8': -0.030844543129205704}, {'C1': -22026, 'C2': {'D1': -2108292091, 'D2': -18392, 'D3': -2056343168, 'D4': 1654}, 'C3': -37, 'C4': -19904, 'C5': [-8165, -17400, 3496], 'C6': {'E1': -6426360334157452684, 'E2': 30805}, 'C7': [0.9268845915794373, -0.8762100338935852, 0.7673606872558594, 0.6289005875587463], 'C8': -0.25116461515426636}], 'A5': 1464379570, 'A6': 187, 'A7': 168, 'A8': -0.41737478971481323}

Тест

In [16]:
from math import floor, ceil
def main(y, z):
 result = 0
 n = len(z)
 for i in range(1, n+1):
  result += (floor(y[i-1] ** 2 + 1 + 15 * z[ceil(i/4)-1]) ** 4) / 26
 return 77 * result
main([0.83, 0.16, -0.05, -0.53, -0.97],
[0.25, 0.05, -0.79, 0.12, 0.68])

5265.615384615385

In [28]:
def three(x, left, middle, right):
  if x[3] == 'COQ':
    return left
  elif x[3] == 'LUA':
    return middle
  return right

def zero(x, left, right):
  if x[0] == 'IDL':
    return left
  return right

def one(x, left, right):
  if x[1] == 1970:
    return left
  return right

def main(x):
  if x[2] == 1981:
    return one(x, zero(x, 6, 7), zero(x, 8, 9))
  elif x[2] == 1982:
        return one(x, three(x, 0, 1, 2), three(x, 3, 4, 5))
  return 10


print(main(['IDL', 2007, 1982, 'LUA']))
print(main(['LLVM', 1970, 1982, 'LUA']))
print(main(['IDL', 1970, 1981, 'COQ']))
print(main(['IDL', 1970, 2010, 'LUA']))
print(main(['LLVM', 2007, 1981, 'LUA']))

4
1
6
10
9

In [29]:
def three(x, left, middle, right):
  if x[3] == 2005:
    return left
  elif x[3] == 1975:
    return middle
  else:
    return right

def one(x, left, right):
  if x[1] == 'AGDA':
    return left
  else:
    return right
 

def two(x, left, right):
  if x[2] == 'LSL':
    return left
  else:
    return right
  

def main(x):
  if x[0] == 'TWIG':
    return two(x, three(x, 0, 1, 2), 3)
  elif x[0] == 'PAN':
        return one(x, three(x, 4, 5, 6), three(x, 7, 8, 9))
  return 10


print(main(['TERRA', 'AGDA', 'BISON', 2020]))
print(main(['PAN', 'AGDA', 'BISON', 2020]))
print(main(['TWIG', 'AGDA', 'LSL', 2020]))
print(main(['TWIG', 'AGDA', 'LSL', 2005]))
print(main(['PAN', 'AGDA', 'LSL', 2005]))

10
6
2
0
4

In [32]:
def main(x):
  x = int(x, 16)
  x6 = (x >> 20) & 0b1
  x5 = (x >> 17) & 0b111
  x3 = (x >> 6) & 0b1111
  x2 = (x >> 1) & 0b11111
  x1 = (x >> 0) & 0b1
  return (x1, x2, x3, x5, x6)
print(main('0x86afe'))

(0, 31, 11, 4, 0)

In [33]:
def main(x):
  x5 = (x >> 26) & 0b1111
  x4 = (x >> 17) & 0b111111111
  x3 = (x >> 16) & 0b1
  x2 = (x >> 9) & 0b1111111
  x1 = (x >> 0) & 0b111111111
  return (x1, x2, x3, x4, x5)
print(main(971354762))

(138, 89, 1, 242, 14)

In [34]:
#Транскодирование
def main(num):
 num = int(num, 16)
 x5 = (num >> 29) & 0b11111
 x4 = (num >> 24) & 0b11111
 x3 = (num >> 14) & 0b1111111111
 x2 = (num >> 10) & 0b1111
 x1 = (num >> 0) & 0b1111111111
 res = (x1 << 24) | (x5 << 19) | (x3 << 9) | (x4 << 4) | (x2 << 0)
 return int(res)
main('0x2c845fb48')

14104538766

In [71]:
def main(num):
 x5 = (num[0] << 20)
 print(x5)
 x3 = (num[1] << 18) 
 print(x3)
 x2 = (num[2] << 9)
 res = x5 + x3 + x2
 return hex(res)
print(main((393, 2, 1)))

412090368
524288
0x18980200

In [82]:
def main(x):
  i5 = (x['I5'] << 22) & 0b1111111111
  print(i5)
  i4 = (x['I4'] << 16) & 0b111111
  print(i4)
  i3 = (x['I3'] << 9) & 0b1111111
  print(i3)
  i2 = (x['I2'] << 3) & 0b111111
  print(i2)
  i1 = (x['I1'] >> 0) & 0b111
  return i5 | i4 | i3 | i2 | i1

print(main({'I1': 3, 'I2': 32, 'I3': 99, 'I4': 28, 'I5': 294}))

0
0
0
0
3

In [96]:
def main(x):
  i5 = (x['I5'] << 22)
  print(i5)
  i4 = (x['I4'] << 16)
  print(i4)
  i3 = (x['I3'] << 15)
  print(i3)
  i2 = (x['I2'] << 8)
  print(i2)
  i1 = (x['I1'] << 2)
  return i5 + i4 + i3 + i2 + i1

print(main({'I1': 3, 'I2': 32, 'I3': 99, 'I4': 28, 'I5': 294}))

631360192512
58720256
3244032
8192
631422165004

In [ ]:
# class MealyError(Exception):
#   pass
# class Machine:
#   def _init_(self):
#       self.state = 'A'
#   def func(self):
#     if (self.state == 'A'):
#       self.state ='B'
#       return 9
#     elif (self.state == 'C'):
#       self.state = 'D'
#       return
#     else:
#       raise MealyError('func')
# def main():
#   return Machine;

# def test():
#   obj = main()
#   assert obj.state == 'A'
#   try:
#     obj.func()
#   except as e:
#     assert type(e) == MealyError




test()

In [106]:
#Кодирование
def main(n):
  n6 = (n[5] & 0b1111111) << 33
  n5 =(n[4] & 0b1111111111) << 23
  n4 =(n[3] & 0b111111) << 17
  n3 =(n[2] & 0b11111) << 12
  n2 =(n[1] & 0b1111111 )<< 5
  n1 =(n[0] & 0b11111) << 0
  return hex(n6 | n5 | n4 | n3 | n2 | n1)
main((19, 12, 19, 55, 182, 7))

'0xe5b6f3193'

In [117]:
def main(n):
  n6 = (int(n[4][1], 16) & 0b1111111) << 35
  n5 =(int(n[3][1], 16) & 0b11111111) << 27
  n4 =(int(n[2][1], 16) & 0b1111111) << 20
  n3 = (int(n[1][1], 16) & 0b111) << 17
  n1 =(int(n[0][1], 16) & 0b111111111) << 0
  return str(n6 | n5 | n4 | n3 | n1)

main([('S1', '0x171'), ('S3', '0x7'), ('S4', '0x48'), ('S5', '0x9e'), ('S6', '0x1a')])

'914636013937'

In [120]:
#Декодирование
def main(n):
  n = int(n, 16)
  n5 = (n >> 22) & 0b1111
  n4 = (n >> 14) & 0b11111111
  n3 = (n  >> 7) & 0b1111111
  n2 = (n>> 4) & 0b111
  n1 = (n >> 0) & 0b1111
  res = (n1, n2, n3, n4, n5)
  return res
main('0x14cb5a7')

(7, 2, 107, 50, 5)

In [123]:
#Кодирование
def main(n):
  n5 =(n['I5'] & 0b111111111) << 22
  n4 =(n['I4'] & 0b111111) << 16
  n3 =(n['I3'] & 0b1111111) << 9
  n2 =(n['I2'] & 0b111111 )<< 3
  n1 =(n['I1'] & 0b111) << 0
  return n5 + n4 + n3 + n2 + n1
main({'I1': 3, 'I2': 32, 'I3': 99, 'I4': 28, 'I5': 294})

1235011331

In [131]:
def main(n):
  n = int(n)
  n4 = (n >> 10) & 0b111111111
  n3 = (n >> 4) & 0b111111
  n2 = (n >> 1) & 0b111
  n1 = (n >> 0) & 0b1

  res = (n3 << 13) | (n1 << 12) | (n4 << 3) | (n2 << 0)
  return res
main('475025')

474744

In [139]:
#Транскодирование
def main(n):
  n = int(n, 16)
  n5 = (n >> 18) & 0b111111111
  n4 = (n >> 12) & 0b111111
  n3 = (n >> 11) & 0b1
  n2 = (n >> 10) & 0b1
  n1 = (n >> 0) & 0b1111111111

  res = (n5 << 18) + (n1 << 8) + (n2 << 7) + (n3 << 6) + (n4 << 0)
  return res
main('0x3c3997d')

63012217